fastapi
uvicorn
langchain
langchain-community
langchain-text-splitters
langchain-chroma
langchain-ollama
langchain-huggingface
ollama
chromadb
pypdf
python-dotenv
tiktoken
python-multipart
sentence-transformers
torch
